h1{
    background-color:lightpink;
}
.todo{
     background-color: lightgreen;
     height:100vh;
}
.box{
    width: 50%;
    height: 300px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background-color:lightgray;
    overflow:scroll;
}
i{
    cursor: pointer;
}
.compl{
    text-decoration: line-through;
    color:red;
}
input[type=checkbox]:checked +p.strikethrough{
    text-decoration: line-through;
    color:red;
}
